@import "tailwindcss";

/*noinspection CssUnresolvedCustomProperty*/
@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-background: #0d0d0f;
  --color-surface: #17171a;
  --color-surface-hover: #222226;

  --color-text: #f2f2f3;
  --color-text-muted: #9b9ba1;
  --color-text-subtle: #68686f;

  --color-accent: #e5484d;
  --color-accent-hover: #f2555a;
  --color-accent-dark: #8c2f34;

  --color-positive: #4ADE80;
  --color-neutral: #FACC15;
  --color-negative: #F87171;

  --color-border: #2c2c31;

  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--color-background);
  color: var(--color-text);
}
